@{
    ViewData["Title"] = "Developer Information";
}

<h1>@ViewData["Title"]</h1>

<div>
    <p> Name: Ishkar Singh <br>
        Student Number: ST10395002 <br>
        Lecturer: Mick Gouweloos <br>
        Module: Cloud Development A </p>
</div>