@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h2>Introduction</h2>
    <p> </p>
    <p>Welcome to VC Parts, an ICE Task of the IIE Varsity College - Durban, Westville.
       We are committed to protecting the privacy of our users. 
       This privacy policy outlines how we collect, use, disclose, and protect your personal information when you use our website.</p>
</div>

<div>
    <h2>Information Sharing and Disclosure</h2>
    <p>We do not sell, trade, or otherwise transfer your personal information to third parties without your consent. 
       We may share your information with trusted third parties who assist us in operating our website, conducting our business, or servicing you, as long as those parties agree to keep this information confidential.</p>
</div>

<div>
    <h2>Security</h2>
    <p>We implement a variety of security measures to maintain the safety of your personal information when you access our website. 
       However, please note that no method of transmission over the internet or electronic storage is 100% secure, and we cannot guarantee absolute security.</p>
</div>

<div>
    <h2>Cookies</h2>
    <p>We use cookies to enhance your experience on our website. 
       You can choose to disable cookies through your browser settings, but please note that some features of the site may not function properly if you do so.</p>
</div>

<div>
    <h2>Changes to This Privacy Policy</h2>
    <p>We reserve the right to update or change our privacy policy at any time. 
        Any changes will be posted on this page, and the revised date will be updated at the bottom of the page. 
        We encourage you to review this privacy policy periodically for any changes.</p>
</div>

<div>
    <h2>Contact Us</h2>
    <p>If you have any questions or concerns regarding this privacy policy.
        Please contact us at 031 266 8400.
    </p>
</div>

<div>
    <p>Last Updated: 2024/03/21</p>
</div>
